*{
    font-family: 'Gentium Plus', serif;
}
body{
    margin: 0;
    padding: 0;
    background: #06091D;
}

/* header section */

header{
    margin: 0px 200px 0 300px;
}

.navbar{
    width: 850px;
    height: 100px;
    overflow: hidden;
    float: right;
}

header .navbar > ul{
    display: flex;
    justify-content: space-between;
}

header .navbar > ul > li{
    list-style-type: none;
    border-right: 1px solid white;
    
}

header a{
    font-size: 28px;
    text-decoration: none;
    color: white;
    padding: 10px;
}

header a:hover{
    text-decoration: underline;
    color: #E53755;
}

header #download-cv{
    border-right: none;
}

header #download-cv > button{
    background-color: #E53755;
    border: none;
    border-top-right-radius: 20px;
    padding: 10px;
}

header #download-cv > button > a{
    color: white;
    font-size: 20px;
}

header #download-cv > button > a:hover{
    color: black;
    
}

/* profile section */
.profile{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 10px 0;
}

.profile img{
    width: 600px;
    height: 600px;
    padding: 0 20px 0 0;
    border-radius: 300px;
}

.profile .header-info{
    color: white;
    
}

.header-info h1, h2{
    line-height: 30px;
    width: 500px;
}

.header-info h1{
    font-size: 80px;
}

.header-info h2{
    font-size: 60px;
}

.header-info #h2-name{
    color: #B5ADAD;
    font-weight: lighter;
}

.header-info #h2{
    font-style: italic;
    color: #E53755;
    font-weight: lighter;
}


/* main section */
main{
    margin: 100px 300px 0 400px;
}

/* About section */
.about{
    height: 100vh;
    margin: auto;
    color: white;
    padding-top: 100px;
    margin-top: -100px;
}

.about h2{
    font-size: 50px;
    color: #B5ADAD;
}

.about .mission{
    width: 467px;
    height: 189px;
    font-size: 40px;
    padding: 0 0 90px 0;
}

.about .mission-info{
    font-size: 24px;
    display: flex;
    font-weight: lighter;
    
}

.about .mission-info > p{
    width: 550px;
    height: 285px;
    padding: 5px 30px 0 0;
    
}

.mission-info #p1, #p2{
    background-color: #B5ADAD;
    opacity: 0.5;
    color: #06091D;
    border-radius: 10px;
    padding: 30px;
    margin: 0 30px 0 0;
}

/* skills section */
.skills-section{
    color: white;
    margin-top: -100px;
}

.skills-section h2{
    font-size: 40px;
    color: #B5ADAD;
}

.skills{
    display: flex;
    flex-direction: row;
}

.skills h2{
    color: #E53755;
}

.skills .front-end ul{
    list-style-type: none;
    font-size: 28px;
}

.footer{
    background: #B5ADAD;
    padding: 30px 0 30px 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer .address{
    font-size: 28px;
}

.footer ul{
    list-style-type: none;
}

.footer .social{
    margin: 0 0 0 50px;
}

.footer .social > a{
    padding: 10px;
    color: black;
}

.footer .contact h2{
    font-size: 40px;
}

.footer .contact-me > form > input{
    font-size: 18px;
}

.footer .contact-me{
    margin-right: 300px;
}

.contact-me input[type=text], select, textarea {
    width: 400px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background: #06091D;
    color: white;
    font-size: 18px;
  }

  .contact-me input[type=submit] {
    background-color: #E53755;
    color: white;
    padding: 12px 30px;
    border: none;
    border-top-right-radius: 20px;
    cursor: pointer;
    float: left;
    font-size: 18px;
  }