*{
    font-family: 'Gentium Plus', serif;
   
}
body{
    margin: 0;
    padding: 0;
    background: #06091D;
    background-image: url(../images/annie-spratt-6a3nqQ1YwBw-unsplash.jpg);
    background-repeat: repeat;
    background-size: contain;
}

/* header section */

header{
    margin: 0 200px 0 700px;
    
}

.navbar{
    width: 850px;
    height: 100px;
}

header .navbar > ul{
    display: flex;
    justify-content: space-between;
}

 .navbar > ul > li{
    list-style-type: none;
    border-right: 1px solid white;
    
    
}

header a{
    font-size: 28px;
    text-decoration: none;
    color: white;
    padding: 10px;
    
}

header a:hover{
    text-decoration: underline;
    color: #E53755;
}

header #download-cv{
    border-right: none;
}

header #download-cv > button{
    background-color: #E53755;
    border: none;
    border-top-right-radius: 20px;
    padding: 10px;
}

header #download-cv > button > a{
    color: white;
    font-size: 20px;
}

header #download-cv > button > a:hover{
    color: black;
    
}

/* profile section */
.profile{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 10px 0;
    
}

.profile img{
    width: 600px;
    height: 600px;
    padding: 0 20px 0 0;
    border-radius: 300px;
    filter: brightness(70%);
}

.profile img:hover{
    width: 600px;
    height: 600px;
    padding: 0 20px 0 0;
    border-radius: 300px;
    opacity: 0.5;
}

.profile .header-info{
    color: white;
    
}

.header-info h1, h2{
    line-height: 30px;
    width: 500px;
}

.header-info h1{
    font-size: 80px;
}

.header-info h2{
    font-size: 60px;
}

.header-info #h2-name{
    color: #B5ADAD;
    font-weight: lighter;
}

.header-info #h2{
    font-style: italic;
    color: #E53755;
    font-weight: lighter;
    text-shadow: 0 0 3px #FF0000;
}


/* main section */
main{
    margin: 0 200px 0 200px;
}

/* About section */
.about{
    height: 100vh;
    color: white;
    padding-top: 100px;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h2{
    font-size: 50px;
    color: #B5ADAD;
    text-align: center;
}

.about .mission{
    width: 467px;
    height: 189px;
    font-size: 40px;
    padding: 0 0 90px 0;
    text-align: center;
}

.about .mission-info{
    font-size: 24px;
    display: flex;
    font-weight: lighter;
    
}

.about .mission-info > p{
    width: 550px;
    height: 285px;
    padding: 5px 30px 0 0;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
        ;

    
}

.mission-info #p1, #p2{
    background-color: #B5ADAD;
    color: black;
    border-radius: 10px;
    padding: 30px;
    margin: 0 30px 0 0;
    font-size: 28px;
    line-height: 40px;
}

/* skills section */
.skills-section{
    color: white;
    height: 35vh;
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.skills-section h2{
    font-size: 40px;
    color: #B5ADAD;
    text-align: center;
}

.skills{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.skills h2{
    color: #E53755;
    font-size: 28px;
}

.skills .front-end ul{
    list-style-type: none;
    font-size: 24px;
    line-height: 50px;
}

/* projects section */

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 70vh;
    padding: 0 0 100px 0;
}

.projects h2{
    font-size: 40px;
    color: #B5ADAD;
    text-align: center;
}

.project-cards{
    display: flex;
    flex-wrap:inherit;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.projects .project-card{
    width: 400px;
    height: 520px;
    padding: 15px 10px;
    border: 1px solid darkgray;
    border-radius: 10px;
    margin: 10px 20px;
    box-shadow: 5px 5px 5px 6px black;
}

.project-card img{
    max-width: 100%;
    max-height: 100%;
}

.project-card h3{
    color: #B5ADAD;
    border-top: 1px solid darkgray;
    padding: 5px 0;
    font-size: 24px;
}

.project-card p{
    height: 70px;
    line-height: 30px;
    font-size: 20px;
    padding: 0 0 20px 0;
}

.project-card button{
    background-color: #E53755;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: auto;
    display: flex;
}

.project-card button:hover{
    opacity: 0.5;
}

.project-card button > a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}


/* footer section */

.footer{
    background: linear-gradient(-180deg, grey, white);
    padding: 30px 0 30px 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer .address{
    font-size: 28px;
}

.footer ul{
    list-style-type: none;
}

.footer .social{
    margin: 0 0 0 50px;
}

.footer .social > a{
    padding: 10px;
    color: black;
}

.footer .contact h2{
    font-size: 40px;
}

.footer .contact-me > form > input{
    font-size: 18px;
}

.footer .contact-me{
    margin-right: 300px;
}

.contact-me input[type=text], select, textarea {
    width: 400px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background: #06091D;
    color: white;
    font-size: 18px;
  }

  .contact-me input[type=submit] {
    background-color: #E53755;
    color: white;
    padding: 12px 30px;
    border: none;
    border-top-right-radius: 20px;
    cursor: pointer;
    float: left;
    font-size: 18px;
  }